<head>
  <title>resolutions</title>
</head>

<body>
	
	<div class="container">
		
		<header>
			<h1> Monthly Resolutions</h1>
			<br>
			<label class="hide-finished">
				<input type="checkbox" checked="{{hideFinished}}">
				Hide Finished Resolutions
			</label>
			
			{{#if currentUser }}
				<form class="new-resolution">
					<input type="text" name="title" placeholder="A new resolution">
					<input type="submit" value="Submit">
				</form>
			{{/if}}
			
		</header>
		
		<ul>
			{{#each resolutions}}
				{{> resolution}}
			{{/each}}
		</ul>
		
		{{> loginButtons }}
	</div> <!-- .container -->
</body>